<!doctype html>

<html>
<head>
  
   <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
  
  <h2>RAW </h2>
  <h3>fashion + beauty</h3>
</head>
<body>
  
    <nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#">Menu</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Fashion</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Beauty</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="#">Articles</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="#"> 
         </a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="#">About Us</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="#">Subscribe</a>
      </li>
     
    </ul>
  </div>
</nav>
  
   <h3> about us</h3>
  
   <style>
.parallax { 
    /* The image used */
    background-image: url("https://78.media.tumblr.com/df3145a9f2cc0609c3afd580c291b4df/tumblr_pathzg3ewk1xux0sbo1_400.gif");
    /* Set a specific height */
    height: 500px; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
</style>
<!-- Container element -->
<div class="parallax"></div>
  
   <style>
.parallax { 
    /* The image used */
    background-image: url("https://78.media.tumblr.com/df3145a9f2cc0609c3afd580c291b4df/tumblr_pathzg3ewk1xux0sbo1_400.gif");
    /* Set a specific height */
    height: 500px; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
</style>
<!-- Container element -->
<div class="parallax"></div>

 <br>
  <h3>Who are we? </h3>
  <br>
  <h3> We're Miya, Mary, and Celine, KwK Los Angeles 2018 Scholars who created this website!</h3>
<h3>By using the languages we've learned in two weeks with KodeWithKlossy: Ruby, HTML, CSS, JavaScript, and Sinatra through Learn and the Flatiron School, we've compiled this website.</h3> 
  <br>
<h3> Our Mission: </h3>
  <br>
<h3>Guided by a shared interest in coding, fashion, beauty, and animals, to tie them all together, we wanted to create an exhaustive source where noncruelty fashion and beauty brands can be found.</h3>
<h3>We hope everyone can use this website to make the world a kinder place</h3>
  
  <br> 
  <h2>Contact Us</h2>
   <h3>email: </h3> 
   <h3>instagram: </h3> 

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
  
  
  
   <div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="https://mail.google.com/mail/u/0/?ui=2&ik=f45f6dc391&view=fimg&th=164b3e4d648c3ee6&attid=0.1&disp=emb&realattid=164b3e4bf1081e409e91&attbid=ANGjdJ9A1ufcxArFByGduaz-6qhAYHP-OKW1cgtEviZdWnRxR_TLpn13KboSBL6z3Hw0PybqNhrDxTjsGjWo5LOQ0HbagpNP7CB3PoZu4_6MwWmZjkAPMsO0hHNDRv0&sz=s0-l75-ft&ats=1532026486958&rm=164b3e4d648c3ee6&zw&atsh=1" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Mary</h5>
      <p class="card-text">Mary White is 14, lives in LA, and goes to Harvard Westlake. She loves learning to code and design websites and is so glad that she got to come to this camp. Additionally, she loves fashion and makeup and had a really fun time creating this site. </p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://scontent-lax3-1.xx.fbcdn.net/v/t1.0-9/35533266_185556512110602_7266460249601605632_n.jpg?_nc_cat=0&oh=3af7f42af96736fae8cfa68ebc4c7f09&oe=5BEA3FF2" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Miya </h5>
      <p class="card-text">Miya Maxine Stauss is an competitive tennis player and lover of dogs. She is 16 years old and is going into her Junior year of High School at the Sage Hill School in Newport Coast, CA. Miya's true passions lie in coding and beauty. She helped to make this website to increase people's awareness of the effects of animal cruelty and discourage brands from testing on animals to produce their products.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://mail.google.com/mail/u/0/?ui=2&ik=f45f6dc391&view=fimg&th=164b3e6dc1eab8e2&attid=0.2&disp=emb&realattid=164b3e6cae8f25d5a8c1&attbid=ANGjdJ-2KsKu2AT1mACE76UD7y67siTgS2lhheto7Boh9bcC3M-7MULwAtoOOB219y8ZVOTRXjP6Uz2npFLvmEDjOVsMxqqZSc9wOHSVQack9Io0LxoocVxGKoF5cuY&sz=s0-l75-ft&ats=1532026614061&rm=164b3e6dc1eab8e2&zw&atsh=1">
    <div class="card-body">
      <h5 class="card-title">Celine</h5>
      <p class="card-text">Celine Boudaie is a 15 year old girl who is currently entering her Sophomore year of high school. She loves swimming, playing volleyball, and water polo. She has a passion for makeup, clothes, and animals. This is why she was eager to create this website!</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
   
 
     <style>
.parallax { 
    /* The image used */
    background-image: url("https://78.media.tumblr.com/df3145a9f2cc0609c3afd580c291b4df/tumblr_pathzg3ewk1xux0sbo1_400.gif");
    /* Set a specific height */
    height: 500px; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
</style>
<!-- Container element -->
<div class="parallax"></div>
  
   <style>
.parallax { 
    /* The image used */
    background-image: url("https://78.media.tumblr.com/91ad1aa3043fe681e2779e52f9dbe98e/tumblr_p57ly8L5tT1wasc12o1_400.gif");
    /* Set a specific height */
    height: 300px; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
</style>
<!-- Container element -->
<div class="parallax"></div>
  

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
  
</body> 
</html>
    


  
  
    


  
  