content.erb

rel = stylesheet

<div align = "center" class = "quiz_box"
<h1 class = "big">This quiz will determine whetehr you are an intro,extro,etc

<br>
<form method="POST" action ="/results">
  
  <label>input type = "radio" name = "Q1" </label>